/*
 * Copyright 2018 The boardgame.io Authors.
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.phases li {
  list-style: none;
  width: 200px;
  border: 1px solid #eee;
  border-top: none;
  padding: 5px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
