{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
  ],
  "env": {
    "targets": {
      "node": "current"
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "rollup": {
      "plugins": ["external-helpers"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "alias": {
        "boardgame.io": "./packages",
      }
    }],
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
