{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-0"
  ],
  "env": {
    "targets": {
      "node": "current"
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "rollup": {
      "plugins": ["external-helpers"]
    }
  }
}
