extends:
- eslint:recommended
- plugin:jest/recommended
- plugin:unicorn/recommended
- plugin:react/recommended
- plugin:@typescript-eslint/recommended
- plugin:prettier/recommended

plugins:
- "@typescript-eslint"

parser: "@typescript-eslint/parser"

env:
  node: true
  browser: true
  es6: true

rules:
  # eslint
  no-console: off
  prefer-const:
    - error
    - destructuring: all

  # plugin:unicorn
  unicorn/consistent-function-scoping: off
  unicorn/no-array-for-each: off
  unicorn/no-array-reduce: off
  unicorn/no-fn-reference-in-iterator: off
  unicorn/no-null: off
  unicorn/no-reduce: off
  unicorn/no-useless-undefined: off
  unicorn/prevent-abbreviations: off
  unicorn/prefer-module: off
  unicorn/prefer-code-point: off
  unicorn/prefer-top-level-await: off
  unicorn/prefer-structured-clone: off
  unicorn/prefer-event-target: off
  unicorn/throw-new-error: off

  # plugin:@typescript-eslint
  "@typescript-eslint/consistent-type-imports": error
  "@typescript-eslint/explicit-module-boundary-types": off
  "@typescript-eslint/no-empty-function": off
  "@typescript-eslint/no-explicit-any": off
  "@typescript-eslint/no-namespace": off
  "@typescript-eslint/no-unused-vars":
    - warn
    - args: after-used
      ignoreRestSiblings: true
  "@typescript-eslint/no-var-requires": off
  "@typescript-eslint/no-require-imports": off
  "@typescript-eslint/no-unnecessary-type-constraint": off

settings:
  react:
    version: detect
