{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "node": true,
    "browser": true,
    "jest/globals": true,
    "es6": true,
  },
  "parser": "babel-eslint",
  "plugins": ["react", "jest"],
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off",
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "space-infix-ops": ["error", {"int32Hint": false}],
  }
}
