{
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:unicorn/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/unicorn"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "react/prop-types": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-reduce": "off",
    "unicorn/no-null": "off",
    "unicorn/no-fn-reference-in-iterator": "off"
  },
  "settings": {
    "react": {
      "version": "16.3"
    }
  }
}
