#turnorder {
  padding: 50px;
}

.player-container {
  position: relative;
  margin: 100px;
  width: 16em;
  height: 16em;
  border-radius: 50%;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end-turn:hover {
  background: #eee;
  border-color: #888;
}

.end-turn:active {
  background: #777;
  color: #eee;
}

.turnorder-options {
  display: flex;
  flex-direction: row;
}

.turnorder-options div {
  cursor: pointer;
  padding: 10px;
  border-bottom: 3px solid #aaa;
}

.turnorder-options div:hover {
  background: #efefef;
}

.turnorder-options div.active {
  background: #efefef;
  border-bottom-color: #555;
}

.controls {
  position: absolute;
  margin-top: 50px;
  margin-left: -47px;
}

.controls button {
  width: 80px;
  margin-bottom: 5px;
}

#turnorder .player {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.5em;
  width: 3em;
  height: 3em;
  line-height: 2.75em;
  border-radius: 50%;
  border-color: #aaa;
  border-style: dashed;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#turnorder .player.current {
  background: #555;
  color: #eee;
}

#turnorder .player.active {
  border-style: solid;
}

#turnorder .client {
  padding: 0 !important;
}

.player-container > .client:nth-child(1) {
  transform: rotate(0deg) translate(12em) rotate(-0deg);
}
.player-container > .client:nth-child(2) {
  transform: rotate(60deg) translate(12em) rotate(-60deg);
}
.player-container > .client:nth-child(3) {
  transform: rotate(120deg) translate(12em) rotate(-120deg);
}
.player-container > .client:nth-child(4) {
  transform: rotate(180deg) translate(12em) rotate(-180deg);
}
.player-container > .client:nth-child(5) {
  transform: rotate(240deg) translate(12em) rotate(-240deg);
}
.player-container > .client:nth-child(6) {
  transform: rotate(300deg) translate(12em) rotate(-300deg);
}
