:root {
  --theme-hue: 152;
  --theme-lightness : 27%;
  --mono-hue: calc(var(--theme-hue) + 180);
  --mono-saturation: 12%;

  --link-color: var(--theme-color);

  /* add rounded corners */
  --border-radius-s: .25em;
  --border-radius-m: .5em;
  --border-radius-l: 1.5em;

  --sidebar-padding: 0 1em;
  --sidebar-nav-link-before-content-l3: "";
  --sidebar-nav-link-before-content-l3--active: "→";

  /* syntax highlighting tweaks for contrast accessibility */
  --code-theme-comment: var(--mono-shade1);
  --code-theme-function: hsl(347, 88%, 47%);
  --code-theme-punctuation: var(--mono-shade1);
  --code-theme-operator: hsl(29, 30%, 40%);
  --code-theme-selector: hsl(100, 100%, 25%);
  --code-theme-tag: hsl(310, 100%, 30%);
}

.markdown-section {
  padding: 2em;
}
