/*
 * Copyright 2018 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.mcts-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mcts-tree .children {
  display: grid;
  font-weight: bold;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  transform: scale(0.6);
}

.mcts-node {
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  background: #eee;
  width: 200px;
  padding: 20px;
}

.mcts-root {
  margin-top: 20px;
  cursor: default;
  background: #ddd;
  border: 2px solid #aaa;
}

.mcts-node:hover {
  background: #ddd;
}
