/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

$bg-color: #fff;
$primary-color: #224;

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  color: $primary-color;
  font-family: monospace;
  font-size: 20px;
}

.client {
  padding: 50px;
}

#board {
  border-collapse: collapse;
}

.runner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  background: #eee;
  padding: 20px;
}

li {
  list-style: none;
  margin-left: 50px;
}

a, a:visited {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #555;
}

a.active {
  color: #333;
  font-weight: bold;
}

.runner .run {
  text-align: center;
}
