/*
 * Copyright 2018 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.secret-state section {
  text-align: left;
  padding: 10px;
  margin-bottom: 20px;
  background: #eee;
}
