/*
 * Copyright 2017 The boardgame.io Authors.
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

* {
  box-sizing: content-box;
}

.client {
  padding: 50px;
}

.content {
  padding-top: 0;
}

.runner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

a:hover {
  color: #555;
}

a.active {
  color: #333;
  font-weight: bold;
}

.runner .run {
  text-align: center;
}


.logo {
  max-width: 120px;
  max-height: 120px;
  margin-top: 10px;
}
