/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.gamelog .log-turn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #ccc;
  border-left: 5px solid #ccc;
  padding: 5px;
  text-align: center;
  color: #555;
}

.gamelog .log-turn:hover {
  border-left: 5px solid #555;
}

.gamelog .log-turn .id {
  padding: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.gamelog .log-move {
  border-left: 25px solid #ccc;
  margin-top: 5px;
  background: #fff;
  padding: 5px;
}
