/*
 * Copyright 2017 Google Inc.
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

$bg-color: #fff;
$primary-color: #224;

body {
  margin: 0;
  padding: 50px;
  background: $bg-color;
  color: $primary-color;
  font-family: monospace;
  font-size: 20px;
}

#board {
  border-collapse: collapse;
}

#winner {
  margin-top: 25px;
  width: 168px;
  text-align: center;
}

td {
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
}

td, #btn-reset {
  text-align: center;
  font-weight: bold;
  color: #555;
  border: 3px solid #aaa;
}

#btn-reset {
  width: 167px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 25px;
}

td.active, #btn-reset {
  cursor: pointer;
}

td.active:hover {
  background: #eee;
}
