/*
 * Copyright 2018 The boardgame.io Authors.
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

#lobby-view {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error-msg {
  font-size: 12px;
  color: red;
  margin-top: 10px;
  display: block;
}

.hidden {
  display: none;
}

.phase {
  border: none;
  outline: none;
  /*  margin-left: 50px;*/
}

.phase-title {
  /*  margin-left: -50px;*/
  margin-top: 20px;
}

#instances td {
  list-style: none;
  border: 0px solid #eee;
  border-top: none;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

#instances table {
  height: 100%;
  /*  max-width: 100%;*/
  width: 500px;
  white-space: nowrap;
}

#instances button {
  font-size: 12px;
}

.buttons button {
  margin-left: 10px;
  margin-top: 10px;
  width: 70px;
}

#game-creation select {
  font-size: 14px;
  margin-right: 10px;
}
#game-creation span {
  margin-right: 10px;
}
