/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.debug-ui {
  text-align: left;
  overflow-y: scroll;
  background: #fefefe;
  border-left: 1px solid #ddd;
  box-shadow: -1px 0 10px #aaa;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  opacity: 0.8;
  font-family: monospace;
  font-size: 14px;
}

@media only screen and (max-device-width: 750px) {
  .debug-ui {
    display: none;
  }
}

.debug-ui .pane {
  float: left;
  padding: 20px;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 400px;
}

.debug-ui section {
  margin-bottom: 20px;
}

.debug-ui textarea {
  resize: none;
}

.debug-ui .move {
  cursor: pointer;
  margin-bottom: 10px;
  color: #666;
}

.debug-ui .move:hover {
  color: #333;
}

.debug-ui .move.active {
  color: #111;
  font-weight: bold;
}

.debug-ui .move-error {
  color: #a00;
  font-weight: bold;
}

.debug-ui .arg-field {
  outline: none;
  font-family: monospace;
}

.debug-ui .key {
  margin-bottom: 5px;
}

.debug-ui .key-box {
  display: inline-block;
  cursor: pointer;
  min-width: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #888;
  background: #eee;
  color: #444;
}

.debug-ui .key-box:hover {
  background: #ddd;
}

.debug-ui .key.active .key-box {
  background: #ddd;
  border: 1px solid #999;
  box-shadow: none;
}

.debug-ui .key-child {
  display: inline-block;
  height: 20px;
  margin-left: 10px;
}

.debug-ui .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.debug-ui .menu .item {
  cursor: pointer;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 5px;
  min-width: 50px;
  text-align: center;
}

.debug-ui .menu .item.active {
  font-weight: bold;
  border-bottom: 3px solid #ccc;
}

.debug-ui .player-box {
  display: flex;
  flex-direction: row;
}

.debug-ui .player {
  cursor: pointer;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 3px solid #eee;
  box-sizing: content-box;
}

.debug-ui .player.active {
  background: #ccc;
  border: 3px solid #555;
}
